.corp{
	border: solid 1px black;
	margin-top:50px;
	overflow-y: auto;
	height: 60vh;
	padding-left:30px;
	padding-right:30px;
}
.enTete{
	border: solid 1px black;
	height: 15vh;

}

.preparation ul{
	list-style: none;
}

.enTete img{
	height: 15vh;
}