.titre{
	text-align: center;
	font-size: 50px

}

.titre img{
	width: 25%;

}

.logo{
	width:100%;
}

.navbar{
	width:100%;
	background: #DBDBE8 ;
	position: absolute;
	top:5px;
	display: none;
	height: auto;
	top:0;
	z-index: 100;
	right: 0;
}



.imgMenu{
	position: absolute;
	top: 20px;
	margin-left: 20px;
	width: 70px;
	right: 5%;
	top : 20px;
}

.closeSidebar{
	cursor: pointer;
	width: 5%;
	right: 0;
}

.closeSidebar:hover{
	width: 6%;
}

.listeOnglet{
	list-style: none;
	margin:0;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 20px;
	width:98%;
}

.listeOnglet img{
	width: 100%;
}


.listeOnglet li{
	border-top: solid 3px white;
	padding: 10px;
}


.titre{
	
	width: 100%;
	text-align: center;

}


.navbar a{
	color:white;
	text-decoration: none;
	display: block;

}

.navbar a:hover{
	color: black;
}



