.navbar{
	position: absolute;
	top:0;
	width: 70%;
	padding-left: 15%;
	padding-right: 15%;
	border-bottom: solid 1px silver;
}

.titreMenu{
	display: inline-block;
	margin-top:20px;
	margin-bottom:20px;  
}

.optionMenu{
	display: inline-block;
	float: right;
	padding-left: 5%;
	font-size: 14px;
	margin-top:23px; 
}

.optionMenu a:hover{
	color: #00A0E9;
}

.titre{
	margin-top: 65px;
	padding-top: 5px;
	width: 100%;
	background: #DBDBE8;
	border-top:solid 1px silver

}


a{
	text-decoration: none;
	color: black;
}

@media all and (max-width: 980px){
	.navbar{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}

}
