.corp{
	border: solid 1px black;
	margin-top:50px;
	/*overflow-y: auto;*/
	/*height: 60vh;*/
	padding-left:30px;
	padding-right:30px;
}
.enTete{
	border: solid 1px black;
	height: 15vh;

}

.preparation ul, .preparation li{
	list-style: none;
}

.enTete img{
	height: 15vh;
}

.ingredientsTitre{
	background: #DBDBE8;
	text-align: center;
	margin: 0;
	padding: 5px;
	margin-top: 25px;
}

.ulIngredient{
	list-style: none;
	margin:0;
	padding: 0;
}

.liIngredient{
	padding: 10px;
	border-bottom: solid 2px #DBDBE8; 
}



#containerIngredients{
	width: 30%;
	display: inline-block;
	vertical-align: top;

}

#containberPreparation{
	width: 60%;
	display: inline-block;
	margin-left: 5%;
	vertical-align: top;

}

.typePreparation{
	background: #DBDBE8;
	margin: 0;
	padding: 5px;
	margin-top: 25px;
}

.ulPreparation{
	list-style: none;
	padding: 0;
	border: solid 1px #DBDBE8;
	margin-top:0; 
}

.liPreparation{
	padding: 10px;
}

h2{
	margin-top: 22px;
}


.titre p{
	margin:0;
	padding-top:10px;
	padding-bottom: 10px;
}

.titre{
	padding-left: 15%;
}


@media all and (max-width: 980px){

	#containerIngredients{
		width: 100%;
	}

	.listeIngredient{
		width: 90%;
		margin-left: 5%;
		vertical-align: top;
	}

	#containberPreparation{
		width: 90%;
	}

	.titre{
		text-align: center;
		padding: 0;
	}






}
